* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pank-color: hsl(322, 100%, 66%);
    --Very-Pale-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    outline: none;
    border-radius: 20px;
    border: none;
}

button a{
    text-decoration: none;
    color:var(--Very-Dark-Cyan);
    transition: 0.3s;
}



header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vh 5vw;
    width: 100%;
    position: absolute;
    z-index: 5;
    
}

header button {
    background-color: #fff;
    box-shadow: 0px 0px 10px  hsl(0, 0%, 84%);
    width: 100px;
    height:25px;
}

header img {
    width: 125px;
}

.Hero {
    position: relative;
    text-align: center;
    padding: 20vh 40px 40px;
    background-image: url(/images/bg-hero-mobile.svg);
    background-repeat: no-repeat;
    background-color:var(--Very-Pale-Cyan);
    background-size: cover;
}
.Hero img {
    width: 100%;
    margin-top: 50px;
}

.Hero .text h1 {
    margin-bottom: 25px;
    line-height: 1.4;
}

.Hero .text p {
    margin-bottom: 25px;
    line-height: 1.6;
}

.Hero .text button {
    background-color:var(--pank-color);
    color:var(--Very-Pale-Cyan);
    width: 225px;
    height: 40px;
}

.Hero .text button a {
    color:var(--Very-Pale-Cyan);
}

@media (min-width: 767px) {
    .Hero {
        display: flex;
        justify-content: space-between;
        padding: 10vh 5vw;
        background-image: url(/images/bg-hero-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .Hero img {
        flex-basis: 50%;
        width: 50%;
    }
    .Hero .text {
        flex-basis: 40%;
        margin-top: 20vh;
        text-align: left;
    }
}

.boxes {
    padding: 10vh 5vw 20vh;
    position: relative;
    
}

.boxes .box {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
    box-shadow: 0px 0px 15px  hsl(0, 0%, 84%);
    border-radius: 10px;
}

.boxes .box img{
    width: 100%;
    margin-bottom: 50px;
}

.boxes .box .text {
    order: 2;
    margin-bottom: 40px;
    padding: 10px 10vw;
}
.boxes .box .text h2 {
    margin-bottom: 25px;
    font-size: 22px;
}

.boxes .box .text p {
    line-height: 1.6;
}

.boxes .box-abs {
    position: absolute;
    width: 90%;
    min-height: 20vh;
    box-shadow: 0px 0px 15px  hsl(0, 0%, 84%);
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
    padding: 20px 10px;
    bottom: -70px;
}

.boxes .box-abs h2 {
    margin-top: 30px;
    font-size: 18px;
    margin-bottom: 25px;
}

.boxes .box-abs button {
    background-color:var(--pank-color);
    color:var(--Very-Pale-Cyan);
    width: 225px;
    height: 40px;
}
    
.boxes .box-abs   a {
    color:var(--Very-Pale-Cyan);
}

@media (min-width: 767px) {
    .boxes .box {
        flex-direction: row;
        text-align: left;
        justify-content: space-between;
        padding: 5vh;
    }
    .boxes .box img{
        flex-basis: 40%;
        width: 40%;
        order: 2;
    }

    .boxes .box .text{
        flex-basis: 60%;
        order: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 5vw 0 4vw;
    }

    .boxes .box .text h2{
        align-self: start;
    }

    .boxes .box-2 img{
        order: 1;
    }
    .boxes .box-abs {
        width: 40%;
        margin-left: 25vw;
        height: 25vh;
    }
}

.footer {
    background-color:var(--Very-Dark-Cyan);
    color:var(--Very-Pale-Cyan);
    padding: 20vh 5vh 2vh;
    display: flex;
    flex-direction: column;
}

.footer svg {
    width: 100%;
    margin-bottom: 25px;
}

.footer .hud div {
    margin-top: 10px;
    margin-bottom: 20px;
}
.footer .hud div span {
    margin-left: 20px;
    display: inline-block;
    line-height: 1.6;
}

.footer .links {
    margin-bottom: 50px;
}

.footer .links li {
    list-style: none;
    margin-top: 15px;
}

.footer .links li a {
    color: var(--Very-Pale-Cyan);
    text-decoration: none;
    
}


@media (min-width: 767px) {
    .footer {   
        flex-direction: column;
        align-items: center;
    }
    .flex {
        display: flex;
        justify-content: space-between;
    }
    .footer .hud  {
        width: 40%;
    }

    .links {
        display: flex;
        align-self: center;
        width: 40%;
    }
    .link {
        margin-right: 50px;
    }

    
}
